
h1 {
    font-family: 'Georgia';
    color: #4aaaa5;
    font-weight: bold; 
}

* {
    font-display: 'Arial';
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

header {
    background-color: #ffffff;
}

.middle {
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
    border: 5px;
    padding: 25px;
}

.foot1 {
    background-color: #4aaaa5;
    height: 5px;
}

.foot2 {
    background-color: #666666;
    height: 45px;
}

#footer {
    position: absolute;
    bottom: 0;
}

.image {
    float: left;
}

header::after {
    content:"";
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}

nav a {
    color: gray;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color:#000;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #000;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}